.jumbotron {
  text-align: center;
}

.jumbotron h3{
  text-align: left;
  margin-left: 45px;
}

label {
  font-size: 25px;
  font-weight: normal;
  margin-bottom: 35px;
}

option {
  margin-left: 100px;
}
